body {
    display: flex;
    justify-content: center;
    background-image: url("./res/background.jpg");    
    margin-top: 50px;
    background-repeat: no-repeat;
    font-size: x-large;
}

ul {
    padding: 0px;
}
span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
li {
    display: flex;
    justify-content: space-between;
}

#date-container {
    padding-left: 70px;
}

#main-container {
    padding-top: 90px;
    width: 480px;
    height: 610px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: #87bdd8;
    background-color: transparent;    
    background-image: url("./res/minibackground.jpg");

}

#todo-container {
    margin: 0px 10px 0px 60px;
    background-color: #daebe8;
    padding: 10px;
    background-color: transparent;
}
#input-container {
    margin: 0px 10px 0px 60px;
    padding: 10px;
    background-color: #daebe8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;   
}

li {
    border: dotted rgb(50, 107, 199) 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-radius: 8px;
}

button {
    border-radius: 10px;
    outline: none;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type='text'] {
    border-radius: 10px;
    width: 90%;
}
input[type='submit'] {
    outline: none;
    border-radius: 10px;
    width: 25%;
    margin-top: 8px;
}